.gd-primary{
    background:linear-gradient(to right,#607bb6, #2d4f99) !important;
}
.gd-primary-to-right{
    background:linear-gradient(to right,#607bb6, #2d4f99)!important;
}
.v-text-field {
    .v-label{
        font-weight: 300!important;
    }
    border-radius: 8px!important;
}

.overflow-card{
    height: 100%;
    overflow-y: auto;
}